.containerz {
    width: 100%;
    padding: 5px 8%;
}

.navbar-heading {
    text-align: center;
}

.navbar {
    border: 2px solid rgb(205, 205, 205);
    border-radius: 5px;
    box-shadow: 5px 1px rgb(205, 205, 205);
}