* {
    box-sizing: border-box;
}

.form {
    background-color: rgb(218, 255, 243);
    margin-top: 100px;
    padding: 30px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(123, 123, 123, 0.90);
}

.input-labels {
    font-weight: bold;
}